<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polluted places</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="public/css/style.css">
  </head>
  <body>
    <h1 class="title is-1" text-align="center">Polluted places</h1>
    
      <div class="container is-fluid">
      <div class="notification is-primary is-rounded">
        <table class="table is-hoverable is-striped is-fullwidth" >
            <thead>
              <tr>
                <th>Image</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
            
                
                 
               
                <tr>
                    <th colspan="7" is-centered> No place found</th>
                </tr>
                  
            </tbody>
          </div>
    </div>
  </body>
</html>